<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <style>
     .child{
       border:1px solid green;
     }
  </style>
</head>

<body>
  <div id="app">
    <h2>我是父组件</h2>
    <h3>我对子说：{{message}}</h3>
    <input type="text" v-model="message">
    <child :msg="message" parent-msg="牙膏不要从中间挤"></child>
  </div>
  <script src="./lib/vue.js"></script>
  <script type='text/x-template' id="childTpl">
    <div class="child">
      <h2>我是子组件</h2>
      <h3>父对子说:{{info}}</h3>
      <input type="text" v-model="info">
      <h3>父对子说:{{parentMsg}}</h3>
    </div>
    </script>
  <script>
    // 子组件
    Vue.component('child', {
      template: '#childTpl',
      props:['msg','parentMsg'],
      data(){
        return{
          info:this.msg
        }
      },
      watch:{
        msg(newValue){
          // console.log(newValue)
          this.info = newValue
        }
      }
    })

    const app = new Vue({
      el: "#app",
      data: {
        message:'不要早恋'
      }
    });
  </script>
</body>

</html>