<!DOCTYPE html>
<HTML lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
    #app{
      border:1px solid red;
    }
    .child{
      border:1px solid green;
    }
    </style>
  </head>
  <body>
    <div id="app">
      <h3>我是父组件</h3>
      <h4>我对儿子说的:{{info}}</h4>
      <input type="text" v-model="info">
      <child :message="info" parent-msg="牙膏不要从中间挤"></child>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/x-template" id="child">
      <div class="child">
        <h3>我是子组件</h3>
        <h4>父对子说：{{msg}}</h4>
        <input type="text" v-model="msg">
        <h4>父对子说：{{parentMsg}}</h4>
      </div>
    </script>
    <script>

      Vue.component('child', {
        template:'#child',
        props:['message','parentMsg'],
        data(){
          return{
            msg:this.message
          }
        },
        watch:{
          message(newValue){
            // console.log(newValue)
            this.msg = newValue
          }
        }
      })

      const app = new Vue({
        el: "#app",
        data: {
          info:'不要早恋'
        }
      });
      </script>
  </body>
</html>