<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h4>请选择以下你会的技能</h4>

    <label for="htmlcb">html</label>
    <input type="checkbox" id="htmlcb" v-model="ishtml">

    <label for="jscb">js</label>
    <input type="checkbox" id="jscb" v-model="isjs">

    <label for="csscb">css</label>
    <input type="checkbox" id="csscb" v-model="iscss">
    <hr>
    <label for="allcb">全选</label>
    <input type="checkbox" id="allcb" v-model="isAll">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        ishtml: false,
        isjs: false,
        iscss: false
      },
      computed: {
        isAll:{
          get(){
            return this.ishtml && this.isjs && this.iscss
          },
          set(status){
            // console.log(status)
            this.ishtml =status
            this.isjs =status
            this.iscss =status
          }
        }
      },
    });
  </script>
</body>

</html>