<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h3>请选择你会的技能</h3>
    <ul>
      <li>
        <label for="htmlcb">html</label>
        <input id="htmlcb" type="checkbox" v-model="isHtml">
      </li>
      <li>
        <label for="csscb">css</label>
        <input id="csscb" type="checkbox" v-model="isCss">
      </li>
      <li>
        <label for="jscb">js</label>
        <input id="jscb" type="checkbox" v-model="isJs">
      </li>
    </ul>
    <hr>
    <label for="allcb">全选</label>
    <input id="allcb" type="checkbox" v-model="isAll">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        isHtml: false,
        isCss: false,
        isJs: false
      },
      computed: {
        isAll: {
          get(){
            return this.isHtml && this.isCss && this.isJs
          },
          set(newValue){
            // console.log(newIsAll)
            this.isHtml = newValue
            this.isCss = newValue
            this.isJs = newValue
          }
        }
      },
    });
  </script>
</body>

</html>